/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    /* width: 767px; */
    /* max-width: 100%vw; */
    padding: 0;
    margin: 0;
}

/* Below starts the nav section */

nav,
header {
    background-color: #540B51;
}

#logo {
    height: 30%;
    width: 30%;
}

#nav-list {
    list-style: none;
    text-decoration: none;
}

.nav-container {
    display: flex;
    width: 805px;
    align-items: center;
    /* border: 1px solid orange; */
    justify-content: space-between;
    padding: 40px;
}

.search-menu {
    display: flex;
    /* border: 1px solid white; */
    width: 12%;
    justify-content: space-between;
}

.search-menu>button {
    border: none;
    background-color: #540B51;
    /* border: 2px solid green; */

}

/* Start of header section */

.header-container {
    display: flex;
    flex-direction: column;
    width: 885px;
    align-items: center;
}

h1 {
    font-size: 65px;
    color: white;
    text-align: center;
    width: 10em;
}

.header-body>p {
    color: white;
    text-align: center;
}

#yellow {
    color: #ECB12F;
    font-weight: 300;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    /* border: 1px solid yellow; */
    justify-content: space-between;
}

#email {
    background-color: white;
    border: none;
    padding: 15px 32px;
    width: 100%;
    border-radius: 2px;
    font-size: 25px;
    color: #540B51;
    height: 45%;
}

#google {
    background-color: #4285F4;
    color: white;
    /* text-align: center; */
    border: none;
    padding: 15px 32px;
    width: 100%;
    border-radius: 2px;
    font-size: 25px;
    height: 45%;

}

#google>span {
    text-align: center;
}

#google>img {

    background-color: white;
    height: 60px;


    /* float: left; */
}

#header-img {
    width: 100%;
    padding-top: 4%;
}










@media (max-width:768px) {
    #nav-list {
        display: none;
        width: 100%;
    }
}