/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
  /* width: 767px; */
  /* max-width: 100%vw; */
  padding: 0;
  margin: 0;
}


/* Below starts the nav section */

nav,
header {
  background-color: #540b51;
}

#logo {
  height: 30%;
  width: 30%;
}

#nav-list {
  list-style: none;
  text-decoration: none;
  display: none;
}
/* nav header appears to be good at smallest
got rid of width and it shrunk down */
.nav-container {
  display: flex;
  flex-wrap: nowrap;
  /* width: 805px; */
  align-items: center;
  /* border: 1px solid orange; */
  justify-content: space-between;
  padding: 40px;
}

.search-menu {
  display: flex;
  /* border: 1px solid white; */
  width: 12%;
  justify-content: space-between;
}

.search-menu > button {
  border: none;
  background-color: #540b51;
  /* border: 2px solid green; */
}

/* Start of header section */

.header-container {
  display: flex;
  flex-direction: column;
  /* width: 885px; */
  /* flex-wrap: wrap; */
  align-items: center;
}

.header-body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/* Got rid of the width, curent smallest window width, fits like the original */
h1 {
  font-size: 50px;
  color: white;
  text-align: center;
  /* width: 10em; */
}

.header-body > p {
  color: white;
  text-align: center;
  font-size: 23px;
}

#yellow {
  color: #ecb12f;
  font-weight: 300;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  width: 90%;
  /* border: 1px solid yellow; */
  justify-content: space-between;
}

#email {
  background-color: white;
  border: none;
  padding: 20px 5px;
  width: 100%;
  border-radius: 2px;
  font-size: 25px;
  color: #540b51;
  /* height: 45%; */
}

/* need to figure out how to position the button logo */
#google-logo {
  background-image: url(/starter_code/images/logo-google.png);
  background-repeat: no-repeat;
  z-index: 1;
  height: 20px;
  width: 20px;
}
#google {
  background-color: #4285f4;
  color: white;
  /* text-align: center; */
  border: none;
  padding: 20px 5px;
  width: 100%;
  border-radius: 2px;
  font-size: 25px;
  /* height: 45%; */
}

#google > div {
  text-align: center;
  /* }
/* 
#google > img {
  background-image: url(/starter_code/images/logo-google.png);

  z-index: 1;
  background-color: white;
  /* height: 60px; */
  /* border-radius: 3px; */
  /* height: 30px; */
  /* float: left; */
}
.responsive-img {
  display: flex;
  overflow: hidden;
}

#header-img {
  width: 800px;
  height: auto;
  padding-top: 40px;
  max-width: 100%;
}

/* section 2 main*/

.main {
  display: flex;
  flex-direction: column;
}

.main > .logo-section > p {
  font-size: 25px;
  text-align: center;
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  align-items: center;
}

/* .airbnb,
.nasa,
.uber,
.target,
.nyt,
.spotify {
   width: 25%;
   height: 25%;

} */

.airbnb {
  width: 25%;
  height: auto;
}

.nasa {
  width: 15%;
  height: auto;
}

.uber {
  width: 20%;
  height: auto;
}

.target {
  width: 12%;
  height: auto;
}

.nyt {
  width: 60%;
  height: auto;
}

.spotify {
  width: 30%;
  height: auto;
}
/* Media Queries */

/* small screens*/

@media (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    flex-direction: row;
    height: auto;
    padding-bottom: 80px;
    background-image: url(/starter_code/images/background-singup.png);
    background-size: 70em;
    background-repeat: no-repeat;
  }
  .header-body {
    height: auto;
    width: 100%;
    align-items: flex-start; /* only moves the small sentence*/
    padding-left: 40px;
    /* border: 2px solid green; */
    /* height: 400px; */
  }

  .header-body > p {
    font-size: 17px;
  }
  .sign-up {
    align-items: flex-start;
    width: 100%;
  }

  h1 {
    text-align: left;
    width: 300px;
    font-size: 60px;
  }
}

/* medium screens */


@media (min-width:1024px) and (max-width: 1440px) {
  #nav-list {
    display: flex;
    justify-content: center;
    border: 1px solid green;
    width: 100%;

  }
  .nav-container {
    flex-direction: row;
    justify-content: space-around;

    border: 1px solid yellow;
  }
}
